.card-main-body {

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 30vw;
    margin: 2rem 0rem;
    min-width: 200px;

    button {
        padding: 0.4rem;
    }
    
    p {
        margin: 1rem 0rem;
    }

}